<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Les rôles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link th:href="@{/css/role.css}" rel="stylesheet">
  </head>
  <body>
    <h4 class="text-center h4"> Gestion des rôles </h4>

    <button class="btn btn-outline-primary btn-block add" data-bs-toggle="modal" data-bs-target="#roleModal">Ajouter un rôle</button>

    <div class="table-responsive">
      <table class="table"
           style="table-layout: fixed;
                  padding: 10px;
                  margin: auto;
                  width: 80%;
                  text-align: center;
                  vertical-align: center;
                  display: table ">
      <thead>
        <tr>
          <th> ID </th>
          <th> Nom </th>
          <th> Description </th>
          <th> Image </th>
          <th> Actions </th>
        </tr>
      </thead>
      <tbody th:if="${roles != null}">
      <tr th:each="role: ${roles}">
        <td class="align-middle h-auto" th:text="${role.id}"></td>
        <td class="align-middle h-auto" th:text="${role.name}"></td>
        <td class="align-middle h-auto cell" th:text="${role.description}"></td>
        <td class="align-middle h-auto" >
          <img th:src="@{/images/cartes/__${role.urlPicture}__}" alt="Image" width="50" height="50">
        </td>
        <td  class="align-middle h-auto">
          <form th:if="${role.canDelete == 1}" th:action="@{/admin/delete}" method="post">
            <input type="hidden" name="id" th:value="${role.id}">
            <button type="submit" class="btn btn-outline-danger">Supprimer</button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
    <!-- Formulaire Modal -->
    <div class="modal fade" id="roleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Création d'un nouveau rôle</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--/*@thymesVar id="newRole" type="fr.ensitech.projet.entity.Role"*/-->
            <form th:if="${newRole != null}" method="post" action="#" th:action="@{/admin}" th:object="${newRole}">
              <div class="modal-body">
                <div class="form_label">
                  <label for="name" >Nom</label>
                  <input type="text" id="name" th:field="*{name}">
                </div>
                <div class="form_label">
                  <label for="description">Description</label>
                  <textarea id="description" th:field="*{description}"></textarea>
                </div>
                <div class="form_label">
                  <label for="image">Image</label>
                  <input type="file" id="image" name="image" accept="image">
                </div>
              </div>
              <div class="form-group">
                <label>Est-ce un villageois ?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" th:field="*{isVillager}" value="1" id="vrai" />
                  <label class="form-check-label" for="vrai">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" th:field="*{isVillager}" value="0" id="faux" />
                  <label class="form-check-label" for="faux">Non</label>
                </div>
              </div>
              <div class="form-group">
                <label>Est-ce un loup ?</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" th:field="*{isWolf}" value="1" id="vrai_wolf" />
                  <label class="form-check-label" for="vrai">Oui</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" th:field="*{isWolf}" value="0" id="faux_wolf" />
                  <label class="form-check-label" for="faux">Non</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Créer un rôle</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Fermer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>