html, body {
    width: 100%;
}

h4 {
    margin: 5px;
}

thead {
    text-transform: capitalize;
    vertical-align: middle;
}
tbody {
    vertical-align: middle;
}

.add button{
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
}

.form_label {
    margin: 10px;
    padding: 5px;
    display: flex;
}
.form_label label {
    width: 25%;
}
.form_label input, .form_label select {
    width: 50%;
}

.cell {
    white-space: pre-wrap;
    word-wrap: break-word;
}
